<% if notice %>
  <div class="alert alert-info" role="alert">
    <%= notice %>
  </div>
<% end %>

<% if current_user %>

  <h1>Welcome <%= current_user.name %>!</h1>
  Click here to <%= link_to "sign out", signout_path %>
  <br />
  <br />

  <div class="well">
    <%= current_user.inspect %>
  </div>
  
<% else %> 

  <a class="btn btn-block btn-social btn-lg btn-github" href="auth/github"> Sign in with Github</a><br />

  <div class="well">
    <i>"git pull a day keeps the conflict's away<br />
    If you have anything staged, commit now or stash forever"</i>
  </div>

<% end %>